<!DOCTYPE html>
<html class="js rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow rgba opacity cssanimations borderradius boxshadow csstransitions csstransforms textshadow">

<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<!-- head -->
<header class="g-hd" id="gTopbar">
<div id="j-siteNav" class="m-siteNav">
<div class="g-row">
<p class="declare">WorldOfDecoration: 耳环、项链、手链、手镯、钥匙扣、胸针、戒指、书签、挂包器、镜盒、吊坠、发饰、香膏盒系列等饰品及工艺礼品批发。</p>
<div class="right">
<div class="notice">
<a href="/notice" target="_blank">Notice</a>
</div>

<a class="helpCenter" href="/help" target="_blank">Help</a>

</div>
</div>
</div>

</header>



<div class="g-bd">
<div class="g-row">
<div class="w-cateBanner" style="background-image: url(/image/banner_a2.jpg)">
<h2>World of Decoration</h2>
</div>
<div class="g-constraint">

<!-- start of m-items -->
<% categories.forEach(function(category){ %>

<div class="m-items" id="<%= category.product_id %>">

<header class="hd">
<p class="title f-clearfix">
<img class="icon w-icon-50 f-left" src="/icon/icon1.png">
<span class="name f-left"><%= category.title %></span>
</p>
<p class="desc">
<%= category.description %>
</p>
</header>

<div class="bd">
<ul class="list">

<!-- start of one item -->
<% var items = category.items; %>
<% items.forEach(function(item){ %>

<li class="item">
<div class="m-product product-s">

<div class="hd">
<a href="/item_detail" title="<%= item.item_name %>" target="_blank">
<img class="img j-lazyload" data-original="/image/<%= item.image_file %>" alt="<%= item.item_name %>" src="/image/<%= item.image_file %>" style="display: inline;">
</a>
</div>

<div class="bd">
<h4 class="name">
<a class="name" href="/item_detail" title="<%= item.item_name %>" target="_blank">
<%= item.item_name %>
</a>
</h4>
<hr>
<p class="desc"><%= item.item_description %></p>
</div>

</div>
</li>
<!-- end of one item -->
<% }); %>

</ul>
</div>
</div>
<!-- end of m-items -->
<% }); %>

</div>
</div>
</div>


<footer class="g-ft">
  <% include ../partials/footer.ejs %>
</footer>


</body>
</html>
